<div class="cart-container">
    <div class="new-cart-item" *ngFor="let product of products">
      <div class="cart-item">
        <img src="{{product.url}}" />
        <div class="cart-item-details">
          <h5>{{ product.name }}</h5>
          <p>{{product.price}}</p>
          <p>{{product.description}}</p>
          <input class="number-input" type="number" min="1" max="10" />
        </div>
        <br>
      </div>
    </div>
    <div class="cart-panel">
      <h5>product details</h5>
      <p>inputs</p>
    </div>
</div>
