<div *ngIf="products[0]" class="cart-container">
    <div class="new-cart-item" *ngFor="let product of products">
      <div class="cart-item">
        <img src="{{product.url}}" />
        <div class="cart-item-details">
          <h5>{{ product.name }}</h5>
          <p>{{product.price}}</p>
          <p>{{product.description}}</p>
          <input [(ngModel)]="product.quantity" value="1" class="number-input" type="number" min="1" max="10" />
          <button style="margin-top: 15px;" (click)="removeProduct(product)"> remove item </button>
        </div>
        <br>
      </div>
    </div>
  <form #form="ngForm" (ngSubmit)="submitCart()">
    <h5 class="total-price">Total Price: {{totalPrice()}} </h5>
    <div class="cart-panel">

      <h6>Full Name</h6>
      <input 
      class="text-input"
      [(ngModel)]="fullName"
      name="fullName"
      required
      />

      <h6>Address</h6>
      <input 
      class="text-input"
      [(ngModel)]="address"
      name="address"
      required
      />
      
      <h6>Credit Card Number</h6>
      <input 
      class="text-input" 
      [(ngModel)]="creditCard"
      name="creditCard"
      required
      minlength="12"
      maxlength="16"
      />
    <input class="submit-button" [disabled]="form.invalid" type="submit" value="Submit" />
    </div>
  </form>
</div>
<div *ngIf="!products[0] && !submitOn">
  <app-empty-cart></app-empty-cart>
</div>
<app-confirmation *ngIf="submitOn" [fullName]="fullName" [fullPrice]="fullPrice"></app-confirmation>
